# {{ ansible_managed }}
# This is education-only configuration, do not use in production!
{% for item in vsftpd_options %}
{% for option, value in item.items() %}
{{ option }}={{ value }}
{% endfor %}
{% endfor %}
